<!DOCTYPE html >
<html>
<head>
    <title>Login</title>
</head>
<body>

<form id="login-form" method="post" action="authen_login.php" >
<label>Email Address</label>
<input class="au-input au-input--full" type="text" name="user_id" placeholder="username" id="user_id">
<label>Password</label>
<input class="au-input au-input--full" type="password" name="user_pass" placeholder="Password" id="user_pass">
<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" value="Submit">sign in</button>
</form>
</body>
</html>